.values {
    .section-title {
        margin-bottom: 0;
    }

    .intro {
        margin: 20px auto;
    }

    .card {
        img {
            margin-bottom: 15px;
        }

        h5 {
            font-weight: bold;
        }
    }
}
