{{ define "main" }}

<section class="page-title page-title-short">
  <div class="container">
      <h2 class="text-white font-tertiary">{{.Title}}</h2>
      <div class="form-group">
        <input id="projects" name="shuffle-filter" type="input" placeholder="Filter..." />
        <button type="submit"><i class="magnifier"></i></button>
      </div>
  </div>
</section>

<!-- projects -->
<section class="section projects max-height">
  <div class="container">
    <div class="noElemFoundEl" style="display: none;">Oh oh, no project found, try a different query!</div>
    <div class="row shuffle-wrapper-projects">
      {{ range .Site.Data.projects.items }}
      <div class="col-xs-1 col-lg-3 col-md-4 shuffle-item">
        <div class="position-relative rounded">
          <div class="project-image"><img src="{{.image | absURL }}" alt="{{ .name }}"></div>
          <h5>{{ .name }}</h5>
          <p>{{ .description }}</p>
          <a class="btn btn-light btn-sm" href="{{ .project_url | safeURL }}">view project</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /projects -->

{{ end }}
