body {
    line-height: 1.2;
    font-family: $fontFamily;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    color: $fontColor;
    background-color: $backgroundColor;
    overflow-x: hidden;
}

p {
    font-weight: 300;
    color: $fontColor;
    font-size: 16px;
    line-height: 1.8;
    font-family: $fontFamily;
}

a,
a:hover,
a:focus {
    text-decoration: none
}

a,
button,
select {
  cursor: pointer;
    transition: .2s ease
}

a:focus,
button:focus,
select:focus {
    outline: 0
}

a {
    color: $linkColor;
}
a.text-dark:hover {
    color: $linkHoverColor !important
}

a:hover {
    color: $linkHoverColor
}

ol,
ul {
    list-style-type: none;
    margin: 0
}

img {
    vertical-align: middle;
    border: 0
}
