$fontFamily: "DM Mono", "HelveticaNeue", "Helvetica Neue", "serif";

// colors
$themeColor: #3DDC91;
$themeColorWithOpacity: #64E3A7;
$linkHoverColor: #3DDC91;
$linkColor: #18583A;
$white: #ffffff;

$darkGray: #464B54;
$projectPageBackgroundColor: #3DDC91;
$contentPageActiveLinkColor: #18583A;
$footerBackgroundColor: #3DDC91;

$fontColor: #132322;
$menuColor: #888;
$separator: #eee;
$backgroundColor: $white;
$bgColorSauceButton: $linkColor;
$bgColorSauceButtonHover: #8BEABD;
$textColorSauceButton: $fontColor;
$bgColorSauceButtonGradientFrom: #3DDC91;
$bgColorSauceButtonGradientTo: #64E3A7;
$bgColorSauceButtonHoverGradientTo: #B1F1D3;
