h1, h2, h3, h4, h5, h6 {
    color: $fontColor;
    font-family: $fontFamily display, serif;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 51px;
    font-weight: 300;
}

h2, .h2 {
    font-size: 27px;
}

h3, .h3 {
    font-size: 24px
}

h4, .h4 {
    font-size: 20px
}

h5, .h5 {
    font-size: 18px;
    line-height: 1.7;
}

h6, .h6 {
    font-size: 14px
}

@media(max-width:991px) {
    h1, .h1 {
        font-size: 40px;
   }
    h2, .h2 {
        font-size: 24px
    }
    h3, .h3 {
        font-size: 22px
    }
}
