// base style definitions
@import 'base/vars';
@import 'base/reset';
@import 'base/font';
@import 'base/theme';

// components
@import 'components/buttons.scss';
@import 'components/header.scss';

// modules
@import 'modules/values.scss';
@import 'modules/projects.scss';
@import 'modules/team.scss';

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content-section {
    flex: 1 0 auto;
}

.footer-section {
    flex-shrink: 0;
}
