// base style definitions
@import 'base/vars';
@import 'base/reset';
@import 'base/font';
@import 'base/theme';

// components
@import 'components/buttons.scss';
@import 'components/header.scss';
@import 'components/headings.scss';
@import 'components/menus.scss';
@import 'components/lists.scss';

// modules
@import 'modules/values.scss';
@import 'modules/projects.scss';
@import 'modules/team.scss';
@import 'modules/involvement.scss';
@import 'modules/events.scss';
@import 'modules/blog.scss';
@import 'modules/hiring.scss';

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content-section {
    flex: 1 0 auto;
}

.content blockquote {
    font-style: normal;
    border-left: 5px solid $linkHoverColor;

    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.content h3 {
    margin-top: 30px;
}

.content ul {
    padding: 15px;
}

.footer-section {
    flex-shrink: 0;
}
