@import "https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700";

@font-face {
    font-family: bwnistaint-xbd;
    src: url(../fonts/BwNistaInt-xBd.woff) format("woff");
    font-style: normal;
    font-display: swap
}