body {
    line-height: 1.2;
    font-family: $fontFamily;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    color: $fontColor;
    background-color: $backgroundColor;
    overflow-x: hidden;
}

p {
    font-weight: 300;
    color: $fontColor;
    font-size: 16px;
    line-height: 1.8;
    font-family: $fontFamily;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: $fontFamily display, serif;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 51px
}

@media(max-width:991px) {
    h1, .h1 {
        font-size: 40px;
   }
}

h2, .h2 {
    font-size: 60px;
}

@media(max-width:991px) {
    h2, .h2 {
        font-size: 50px
   }
}

h3, .h3 {
    font-size: 40px
}

h4, .h4 {
    font-size: 22px
}

h5, .h5 {
    font-size: 18px
}

h6, .h6 {
    font-size: 14px
}

a,
a:hover,
a:focus {
    text-decoration: none
}

a,
button,
select {
  cursor: pointer;
    transition: .2s ease
}

a:focus,
button:focus,
select:focus {
    outline: 0
}

a.text-dark:hover {
    color: var(--primary-color) !important
}

a:hover {
    color: var(--primary-color)
}

ol,
ul {
    list-style-type: none;
    margin: 0
}

img {
    vertical-align: middle;
    border: 0
}
