$fontFamily: "museo-sans", "HelveticaNeue", "Helvetica Neue", "serif";

// colors
$themeColor: #AC1414;

$darkGray: #464B54;
$projectPageBackgroundColor: $darkGray;
$contentPageActiveLinkColor: $darkGray; 

$fontColor: #333;
$backgroundColor: #fff;
