$fontFamily: "museo-sans", "HelveticaNeue", "Helvetica Neue", "serif";

// colors
$themeColor: #AC1414;
$linkHoverColor: #57C1E8;
$linkColor: #E12726;

$darkGray: #464B54;
$projectPageBackgroundColor: $darkGray;
$contentPageActiveLinkColor: $darkGray;
$footerBackgroundColor: $darkGray;

$fontColor: #333;
$menuColor: #888;
$backgroundColor: #fff;
