.btn {
    font-size: 22px;
    font-family: $fontFamily;
    text-transform: capitalize;
    padding: 16px 44px;
    border-radius: 5px;
    font-weight: 600;
    border: 0;
    position: relative;
    z-index: 1;
    transition: .2s ease
}
.btn:focus {
    outline: 0;
    box-shadow: none !important
}
.btn:active {
    box-shadow: none
}
.btn-sm {
    font-size: 15px;
    padding: 10px 30px
}
.btn-xs {
    padding: 5px 10px;
    font-size: 15px
}
.btn-primary {
    background: var(--primary-color);
    color: #fff
}
.btn-primary.active {
    opacity: .8;
}
.btn-primary:active {
    background: var(--primary-color) !important
}
.btn-primary:hover {
    background: var(--primary-color)
}
.btn-primary.focus, .btn-primary.active {
    background: var(--primary-color) !important;
    box-shadow: none !important
}
.btn-transparent {
    background: transparent;
    color: var(--primary-color);
    font-weight: 700
}
.btn-transparent:active, .btn-transparent:hover {
    color: var(--primary-color)
}

.sauce-button {
    background: $bgColorSauceButton;
    background: -webkit-gradient(linear,right top,left top,from($bgColorSauceButtonGradientFrom),to($bgColorSauceButtonGradientTo));
    background: linear-gradient(270deg,$bgColorSauceButtonGradientFrom,$bgColorSauceButtonGradientTo);
    box-shadow: -3px 0 16px -11px #000;
    border-radius: 290486px;
    color: $textColorSauceButton;
    font-weight: 700;
    padding: 10px 30px;
}

.sauce-button:hover {
    font-weight: 700;
    background: $bgColorSauceButtonHover;
    background: -webkit-gradient(linear,right top,left top,from($bgColorSauceButtonHover),to($bgColorSauceButtonHoverGradientTo));
    background: linear-gradient(270deg,$bgColorSauceButtonHover,$bgColorSauceButtonHoverGradientTo);
    color: $textColorSauceButton;
}