.page-title-short {
    background: $projectPageBackgroundColor;
    padding: 160px 0 30px 0;

    .form-group {
        width: 300px;
        background: transparent;

        border-bottom: 1px solid #AAA;
        position: relative;

        input {
            width: 100%;
            padding: 10px 10px 5px 40px;
            border: 0;
            background: transparent;
            font-size: 20px;
            line-height: 30px;
            color: #FFF;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: #BBB
            }
        }

        button {
            background: transparent;
            border: none;
            cursor: pointer;
            display: inline-block;
            font-size: 20px;
            position: absolute;
            left: -10px;
            top: -5px;
            padding: 18px 20px;
            z-index: 2;

            i {
                position:relative;
                display:inline-block;
                border-radius: 30px;
                height: 15px;
                width: 15px;
                border: 2px solid #BBB;

                &:after {
                    content: "";
                    height: 3px;
                    width: 9px;
                    background: #BBB;
                    position:absolute;
                    top:11px;
                    left:9px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}

section#parallax {
    &:before {
        content: "";
        display: block;
        width: 2000px;
        height: 2000px;
        background: white;
        position: absolute;
        transform: rotate(32deg);
        opacity: .1;
        left: 46%;
        top: -175%;
    }

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: url('/images/hero/opensourcebox.svg') no-repeat;
        position: absolute;
        top: 0%;
        right: -60%;
        background-size: 300px;
    }
}

.hero-area .container {
    max-width: 1500px;

    h1 {
        max-width: 520px;
    }
}

#l2 { left: 64%; top: 69%; }
#l3 { left: 73%; top: 19%; }
#l4 { right: 43%; top: 56%; }
#l5 { right: 29%; top: 71%; }
#l6 { bottom: 59%; left: 51%; }
#l7 { bottom: 56%; left: 56%; }
#l8 {
    bottom: 10%; right: 19%;
    img { width: 120%; }
}

@media(max-width:2100px) {
    #l8 { right: 14%; }
}

@media(max-width:1600px) {
    #l2 { left: 67%; }
    #l3 { left: 78%; }
    #l5 { right: 22%; }
    #l6 { bottom: 65%; left: 45%; }
    #l7 { bottom: 60%; left: 53%; }
    #l8 { right: 6%; bottom: 12%; }

    section#parallax {
        &:before {
            top: -169%;
        }
    }
}
@media(max-width:1400px) {
    #l2 { left: 73%; }
    #l3 { left: 85%; }
    #l4 { right: 38%; }
    #l5 { right: 16%; }
    #l6 { left: 50%; bottom: 60%; }
    #l7 { left: 59%; bottom: 55%; }
    #l8 {
        right: -1%; bottom: 13%;
        img { width: 100%; }
    }

    section#parallax {
        &:before {
            top: -164%;
            left: 50%;
        }

        &:after {
            left: 65%;
        }
    }

    .hero-area .container {
        max-width: 1140px;
    }
}

@media(max-width:1200px) {
    #l8 { right: -7%; bottom: 20%; }
}

@media(max-width:1100px) {
    .layer img, #l8 img { width: 75%; }
    #l2 { left: 77%; }
    #l3 { left: 91%; top: 29%; }
    #l5 { right: 10%; }
    #l6 { left: 50%; bottom: 58%; }
    #l8 { right: -12%; bottom: 22%; }

    section#parallax {
        &:before {
            top: -159%;
        }
    }
}

@media(max-width:991px) {
    #l2 { left: 72%; top: 70%; }
    #l3 { left: 85%; top: 26%; }
    #l5 { right: 13%; }
    #l6 { left: 47%; bottom: 57%; }
    #l7 { left: 57%; bottom: 53%; }
    #l8 { right: -7%; bottom: 14%; }

    section#parallax {
        &:before {
            top: -230%;
        }

        &:after {
            background-size: 200px;
            top: 7%;
        }
    }
}

@media(max-width:800px) {
    #l2 { left: 75%; top: 73%; }
    #l3 { left: 88%; top: 30%; }
    #l4 { right: 34%; top: 61%; }
    #l5 { right: 7%; top: 74%; }
    #l6 { left: 44%; bottom: 55%; }
    #l7 { left: 56%; bottom: 51%; }
    #l8 { right: -17%; bottom: 14%; }

    section#parallax {
        &:before {
            top: -226%;
        }

        &:after {
            top: 9%;
        }
    }
}

@media(max-width:767px) {
    #l2 { left: 76%; top: 78%; }
    #l3 { left: 92%; top: 38%; }
    #l4 { right: 37%; top: 63%; }
    #l5 { right: 6%; top: 79%; }
    #l6 { bottom: 50%; }
    #l7 { left: 56%; bottom: 46%; }
    #l8 { right: -19%; bottom: 5%; }

    section#parallax {
        &:before {
            top: -289%;
            left: 3%;
        }
    }

    .hero-area .container h1 {
        max-width: 390px;
    }
}

@media(max-width:565px) {
    .layer { display: none; }

    section#parallax {
        &:before {
            display: none;
        }

        &:after {
            display: none;
        }
    }
}
