.page-title-short {
    background: $projectPageBackgroundColor;
    padding: 160px 0 30px 0;

    .form-group {
        width: 300px;
        background: transparent;

        border-bottom: 1px solid #AAA;
        position: relative;

        input {
            width: 100%;
            padding: 10px 10px 5px 40px;
            border: 0;
            background: transparent;
            font-size: 20px;
            line-height: 30px;
            color: #FFF;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: #BBB
            }
        }

        button {
            background: transparent;
            border: none;
            cursor: pointer;
            display: inline-block;
            font-size: 20px;
            position: absolute;
            left: -10px;
            top: -5px;
            padding: 18px 20px;
            z-index: 2;

            i {
                position:relative;
                display:inline-block;
                border-radius: 30px;
                height: 15px;
                width: 15px;
                border: 2px solid #BBB;

                &:after {
                    content: "";
                    height: 3px;
                    width: 9px;
                    background: #BBB;
                    position:absolute;
                    top:11px;
                    left:9px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}

section#parallax {
    background-image: linear-gradient(32deg, $themeColor 50%, 59%, $themeColorWithOpacity 50%) !important;
}

.hero-area .container {
    height: 430px;
    max-width: 1500px;

    h1 {
        max-width: 520px;
    }
}

#l1 { 
    left: 40%;
    bottom: 17%; 
    width: 237px;
    height: 440px;
}
#l2 { 
    left: 44%; 
    top: 79%;
    width: 59px;
    height: 77px;
}
#l3 { 
    left: 73%; 
    bottom: 60%; 
    width: 166px;
    height: 172px;
}
#l4 { 
    left: 18%; 
    top: 66%; 
    width: 106px;
    height: 136px;
}
#l5 { 
    left: 54%; 
    top: 84%; 
    width: 67px;
    height: 81px;
}
#l6 { 
    left: 11%; 
    bottom: 65%; 
    width: 239px;
    height: 186px;
}
#l7 { 
    left: 26%; 
    bottom: 56%; 
    width: 81px; 
    height: 84px;
}
#l8 { 
    left: 70%; 
    top: 45%; 
    width: 220px;
    height: 292px;
}

@media(max-width:1399px) {
    .layer img { width: 90%; }
    #l1 { left: 40%; bottom: 10%; }
    #l6 { left: 13%; bottom: 60%; }
}

@media(max-width:1249px) {
    .layer img { width: 80%; }
    #l1 { left: 37%; bottom: 8%; }
    #l2 { left: 40%; top: 75%; }
    #l3 { left: 70%; bottom: 55%; }
    #l4 { left: 13%; top: 55%; }
    #l5 { left: 50%; top: 80%; }
    #l6 { left: 12%; bottom: 57%; }
}

@media(max-width:999px) {
    .layer img { width: 70%; }
    #l1 { left: 35%; bottom: 3%; }
    #l6 { left: 7%; bottom: 54%; }
    #l7 { left: 22%; bottom: 56%; }
}

@media(max-width:849px) {
    .layer img { width: 60%; }
    #l1 { left: 34%; bottom: -5%; }
    #l2 { left: 40%; top: 70%; }
    #l3 { left: 65%; bottom: 45%; }
    #l5 { left: 50%; top: 70%; }
    #l6 { left: 1%; bottom: 48%; }
    #l7 { left: 17%; bottom: 53%; }
}

@media(max-width:768px) {
    .layer img { width: 50%; }
    #l2 { left: 40%; top: 60%; }
    #l4 { left: 12%; top: 48%; }
    #l5 { left: 50%; top: 60%; }
}