.navbar .nav-item.active .nav-link {
    color: $themeColor
}

.page-title-short {
    padding: 0;
    background: grey;
    padding: 120px 0 30px 0;

    .form-group {
        width: 500px;
        background: transparent;

        border-bottom: 1px solid #AAA;
        position: relative;

        input {
            width: 100%;
            padding: 10px 10px 5px 40px;
            border: 0;
            background: transparent;
            font-size: 20px;
            line-height: 30px;
            color: #FFF;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: #BBB
            }
        }

        button {
            background: transparent;
            border: none;
            cursor: pointer;
            display: inline-block;
            font-size: 20px;
            position: absolute;
            left: -10px;
            top: -5px;
            padding: 18px 20px;
            z-index: 2;

            i {
                position:relative;
                display:inline-block;
                border-radius: 30px;
                height: 15px;
                width: 15px;
                border: 2px solid #BBB;

                &:after {
                    content: "";
                    height: 3px;
                    width: 9px;
                    background: #BBB;
                    position:absolute;
                    top:11px;
                    left:9px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}
