<!-- projects -->
<section class="section events">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="section-title font-meta-tags">{{ .title | markdownify }}</p>
        <h1 class="section-heading">{{ .heading| markdownify }}</h1>
      </div>
      <div class="col-12 text-center">
        <p class="intro">{{ .intro | markdownify }}</p>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {{ range .item }}
      <div class="col-xs-1 col-lg-6 col-md-6 shuffle-item">
        <div class="position-relative rounded">
          <div class="project-image"><img src="{{.image | absURL }}" alt="{{ .name }}"></div>
          <h5>{{ .name }}</h5>
          <p>{{ .description }}</p>
          <a target="_blank" href="{{ .link | safeURL }}">Visit conference website</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /projects -->
