<!-- footer -->
{{ if .Site.Params.footer.enable }}
<footer class="bg-footer footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5><strong>Links</strong></h5>
          {{ range .Site.Menus.main }}
          <p class="footer-item-text">
            <a href="{{.URL | absURL }}" class="footer-item-text">{{.Name}}</a>
          </p>
          {{ end }}
        </div>
        <div class="col-md-3">
          <h5><strong>Organizations</strong></h5>
          {{ if .Site.Data.homepage.involvement.enable }}
          {{ with .Site.Data.homepage.involvement }}
          {{ range .item }}
          {{ if .short_title }}
          <p class="footer-item-text">
            <a href="{{.URL | safeURL }}" class="footer-item-text" rel="noreferrer" target="_blank">{{ .short_title | markdownify }}</a>
          </p>
          {{ else }}
          <p class="footer-item-text">
            <a href="{{.URL | safeURL }}" class="footer-item-text" rel="noreferrer" target="_blank">{{ .title | markdownify }}</a>
          </p>
          {{ end }}
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
        <div class="col-md-3">
          <h5><strong>Connect with us</strong></h5>
          {{ range .Site.Params.social }}
          <p class="footer-item-text">
            <a href="{{.URL | safeURL }}" class="footer-item-text" target="_blank" rel="noreferrer"><i class="{{.icon}} icon-footer"></i>{{.description}}</a>
          </p>
          {{ end }}
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-12">
          <small class="mb-0">{{ .Site.Params.copyright | markdownify }}</small>
        </div>
      </div>
    </div>
  </div>
</footer>
{{ end }}
<!-- /footer -->

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script rel="preload" src="{{ .URL | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ if .Params.js }}
{{ $script := resources.Get .Params.js | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ end }}
