<!-- involvement -->
<section class="section involvement">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center section-header">
        <p class="section-title font-meta-tags">{{ .title | markdownify }}</p>
        <h1 class="section-title">{{ .heading | markdownify }}</h1>
      </div>
      {{ range .item }}
      <div class="col-lg-4 col-md-4 mb-30">
        <div class="logo">
          <img src="{{.logo | relURL }}" alt="{{.title }}">
        </div>
        <h5 class="text-center">{{.title }}</h5>
        <p>{{.description }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /involvement -->
