<!-- values -->
<section class="section values">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="section-title font-meta-tags">{{ .title | markdownify }}</p>
        <h1 class="section-heading">{{ .heading | markdownify }}</h1>
      </div>
      <div class="col-12 text-center">
        <p class="intro">{{ .intro | markdownify }}</p>
      </div>
      {{ range .item }}
      <div class="col-md-4 mb-4 mt-5">
        <div class="card hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <img src="{{.image }}" alt="{{.title}}" />
            <h5 class="mb-4">{{.title}}</h5>
            <p>{{.content | markdownify}}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /values -->