{{ define "main" }}

  <!-- hero area -->
  <section class="hero-area bg-primary overflow-hidden" id="parallax">
    <div class="container">
      <div class="row h-100 align-items-center">
        <div class="col-10 mx-auto col-sm-5 ml-sm--auto mr-sm-0">
          <div class="row">
            <p class="text-white font-meta-tags">{{ .Site.Data.homepage.banner.title_header | safeHTML }}</p>
          </div>
          <div class="row">
            <h1 class="text-white font-tertiary">{{ .Site.Data.homepage.banner.title | safeHTML }}</h1>
          </div>
        </div>
        <div class="col-10 mx-auto col-sm-6 ml-sm-0 mr-sm-auto h-100">
          <div class="layer" id="l1">
            <img src="{{`/images/hero/opensourcebox.svg` | relURL}}" alt="bg-shape">
          </div>
          <div class="layer" id="l2">
            <img src="{{`images/hero/checkbox.svg` | relURL}}" alt="bg-shape">
          </div>
          <div class="layer" id="l3">
            <img src="{{`images/hero/clouds.svg` | relURL}}" alt="bg-shape">
          </div>
          <div class="layer" id="l4">
            <img src="{{`images/hero/codewindows.svg` | relURL}}" alt="bg-shape">
          </div>
          <div class="layer" id="l5">
            <img src="{{`images/hero/espressobox.svg` | relURL}}" alt="bg-shape">
          </div>
          <div class="layer" id="l6">
            <img src="{{`images/hero/saucebot.svg` | relURL}}" alt="bg-shape">
          </div>
          <div class="layer" id="l7">
            <img src="{{`images/hero/seleniumbox.svg` | relURL}}" alt="bg-shape">
          </div>
          <div class="layer" id="l8">
            <img src="{{`images/hero/whitebot.svg` | relURL}}" alt="bg-shape">
          </div>
        </div>
      </div>
    </div>
    {{ if .Site.Params.enable_social_links_hero }}
    <!-- social icon -->
    <ul class="social-icons list-unstyled ml-5 mt-3 position-relative zindex-1">
      {{ range .Site.Params.social }}
      <li class="mb-3"><a class="text-white" href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a></li>
      {{ end }}
    </ul>
    <!-- /social icon -->
    {{ end }}
  </section>
  <!-- /hero area -->

  {{ if .Site.Data.homepage.values.enable }}
  {{ with .Site.Data.homepage.values }}
  {{ partial "values.html" . }}
  {{ end }}
  {{ end }}

  {{ if .Site.Data.about.team.enable }}
  {{ with .Site.Data.about.team }}
  {{ partial "team.html" . }}
  {{ end }}
  {{ end }}

  {{ if site.Data.homepage.projects.enable }}
  {{ partial "projects.html" . }}
  {{ end }}

  {{ if .Site.Data.homepage.involvement.enable }}
  {{ with .Site.Data.homepage.involvement }}
  {{ partial "involvement.html" . }}
  {{ end }}
  {{ end }}

  {{ if .Site.Data.homepage.events.enable }}
  {{ with .Site.Data.homepage.events }}
  {{ partial "events.html" . }}
  {{ end }}
  {{ end }}

  {{ if .Site.Data.homepage.blog.enable }}
  {{ partial "blog.html" . }}
  {{ end }}

  {{ if .Site.Data.homepage.open_sauce_projects.enable }}
  {{ with .Site.Data.homepage.open_sauce_projects }}
  {{ partial "supported-projects.html" . }}
  {{ end }}
  {{ end }}

  {{ if .Site.Data.homepage.hiring.enable }}
  {{ with .Site.Data.homepage.hiring }}
  {{ partial "hiring.html" . }}
  {{ end }}
  {{ end }}


{{ end }}
