.blog {
    .section-title {
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    .section-heading {
        margin-bottom: 50px;
    }
}

.sharethis {
    width: 100%;
    border-top: 2px solid $separator;
    padding-top: 15px;

    p {
        text-align: center;
    }
}
