{{ define "main" }}
<section class="page-title bg-primary position-relative overflow-hidden hacktoberfest">
  <div class="container"></div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="font-tertiary">{{.Title}}</h3>
        <div class="content">
          {{.Content }}
        </div>
      </div>
    </div>
    <div class="row saucebot-hacktoberfest">
      <div class="col-lg-12">
        <div class="bottom-informational">
          <div class="hacktoberfest-stats">
            <div class="stat-box">
              <h3>Overall Stats</h3>
              <ul>
                <li>
                  <div id="total-repos" class="stats-text animated-loader">&nbsp;</div>
                  Total Participating Repos
                </li>
                <li>
                  <div id="total-open-issues" class="stats-text animated-loader">&nbsp;</div>
                  Total Open Issues
                </li>
                <li>
                  <div id="total-contributors" class="stats-text animated-loader">&nbsp;</div>
                  Total Contributors
                </li>
                <li>
                  <div id="total-open-pull-requests" class="stats-text animated-loader">&nbsp;</div>
                  Total Open Pull Requests
                </li>
                <li>
                  <div id="total-closed-issues" class="stats-text animated-loader">&nbsp;</div>
                  Total Closed Issues
                </li>
                <li>
                  <div id="total-closed-pull-requests" class="stats-text animated-loader">&nbsp;</div>
                  Total Closed Pull Requests
                </li>
              </ul>
            </div>
            <div class="stat-box">
              <div class="stat-heading">
                <h3>Participating Repos</h3>
                <span id="hacktoberfest-repos-toggle" class="stat-toggle sauce-button" onclick="toggleContent('hacktoberfest-repos')">show</span>
              </div>
              <ul id="hacktoberfest-repos" hidden>
              </ul>
            </div>
            <div class="stat-box">
              <div class="stat-heading">
                <h3>Contributors</h3>
                <span id="hacktoberfest-contributors-toggle" class="stat-toggle sauce-button" onclick="toggleContent('hacktoberfest-contributors')">hide</span>
              </div>
              <ul id="hacktoberfest-contributors">
                <li>No contributors found yet, let's start hacking!</li>
              </ul>
            </div>
            <div class="stat-box issues-list">
              <div class="stat-heading">
                <h3>Open Hacktoberfest Issues</h3>
                <span id="hacktoberfest-issues-toggle" class="stat-toggle sauce-button" onclick="toggleContent('hacktoberfest-issues')">hide</span>
              </div>
              <ul id="hacktoberfest-issues">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="attribution">
      Thanks to the open source team at <a href="https://comcast.github.io/hacktoberfest.html">Comcast</a>
      for their idea and <a href="https://github.com/Comcast/Comcast.github.io">implementation</a> of this page.
    </div>
  </div>
</section>
{{ $script := resources.Get "js/libs/octokit.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ $script := resources.Get "js/hacktoberfest.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ end }}
